<script language="javascript">

 var clickId=0;

 function play101station(id) {

  clickId=id;
  var url="<#ROOTHTML#>popup/app_101ru.html?";
  url+='&ajax=1&op=playstation&id='+id;
  $('#result'+clickId).html('<img src="<#ROOTHTML#>img/ajax-loader.gif" border="0">');
  $.ajax({
    url: url
   }).done(function(data) { 
    $('#result'+clickId).html(data);
   });
  return false;
 }
</script>
[#begin CATEGORIES#]
<div>
<a href="#" onClick="$('#radiocategory[#ID#]').toggle();return false;"><h2>[#TITLE#]</h2></a>
<div id="radiocategory[#ID#]" style="display:none;margin-left:20px">
 [#begin STATIONS#]
  <h4>
   <a href="#" onClick="return play101station([#ID#]);"><img src="<#ROOTHTML#>img/btn/btn_play.png" border="0" align="absmiddle" id="play[#ID#]"></a>
   [#TITLE#]
   <a href="[#PAGE_URL#]" target=_blank>[...]</a>
   <span id='result[#ID#]'></span>
  </h4>
 [#end STATIONS#]
</div>
</div>
[#end CATEGORIES#]
